<div class="background_img">
  <div class="overlay">
    <div class="centered_wrapper padding_top_four">
      <div class="ui one column center aligned stackable grid">
        <div class="row">
          <div class="column">
            <img class="ui medium middle aligned image amplify_logo" src="<%= asset_pack_path 'images/inverted-logo.svg' %>">
          </div>
        </div>
        <% if flash[:notice] %>
          <div class="row">
            <div class="column">
              <div class="ui huge normal_font white_text header"><%= flash[:notice] %></div>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="column">
              <div class="ui huge normal_font white_text header">AmplifyApp coming soon, sign up to be notified!</div>
            </div>
          </div>
          <div class="row">
            <div class="column max_width_500">
              <%= form_for @lead, url: { action: "create" }, html: { class: "ui form" } do |f| %>
              <div class="two fields">
                <div class="field">
                  <%= f.text_field :email, placeholder: "Email" %>
                </div>
                <div class="field">
                  <%= f.submit "Sign me up", class: "ui amplify_color_background white_text button" %>
                </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('.amplify_logo')
    .transition('set looping pulse')
    .transition('pulse', '950ms')
  ;
</script>
