<div class="centered_wrapper middle_centered_small">
  <div class="ui segment">
    <% flash.each do |name, msg| %>
      <% alert_class = ['success', 'notice'].include?(name) ? 'success' : 'error' %>
      <div class="ui <%= alert_class %> message">
        <p><%= msg.html_safe %></p>
      </div>
    <% end %>

    <%= form_for @lead, url: { action: "create" }, html: { class: "ui form" } do |f| %>
      <div class="field">
        <%= f.label "email" %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.submit "Sign me up", class: "ui positive button" %>
      </div>
    <% end %>
  </div>
</div>
