<div class="ui fixed inverted menu">
  <div class="ui container">
    <div class="header item">
      <img class="logo" src="<%= asset_pack_path 'images/inverted-logo.svg' %>">
      Amplify
    </div>
  </div>
</div>

<table class="ui inverted table unstackable song_list">
  <colgroup>
    <col class="width-20">
    <col class="width-80">
  </colgroup>
  <thead>
    <tr>
      <th class="vote_count">Votes</th>
      <th>Song</th>
    </tr>
  </thead>
  <tbody>
  <% @songs.each do |song| %>
    <tr>
      <td class="vote_count">
        <div><i class="triangle up icon submit_vote" data-song-id=<%= song.id %> data-vote-score=1></i></div>
        <div><%= song.votes.sum(:score) %></div>
        <div><i class="triangle down icon submit_vote" data-song-id=<%= song.id %> data-vote-score=-1></i></div>
      </td>
      <td>
        <div><%= song.title %></div>
        <div class="artist"><%= song.artist %></div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $('.submit_vote').click(function( event ){
    var score = event.target.getAttribute("data-vote-score");
    var song_id = event.target.getAttribute("data-song-id");
    Rails.ajax({
      type: "PUT",
      url: '/playlist/' + '<%= @room_id %>' + '/vote/' + song_id + '?vote=' + score,
      success: function() {
        location.reload();
      }
    });
  });
</script>
