<div class="ui fixed inverted secondary menu">
  <div class="ui container">
    <div class="header item">
      <img class="logo" src="<%= asset_pack_path 'images/inverted-logo.svg' %>">
      Amplify
    </div>
    <div class="right floated header item">
      <i class="add circle icon amplify_color suggest_song"></i>
    </div>
  </div>
</div>

<table class="ui inverted table unstackable song_list">
  <colgroup>
    <col class="width-20">
    <col class="width-80">
  </colgroup>
  <thead>
    <tr>
      <th class="vote_count">Votes</th>
      <th>Song</th>
    </tr>
  </thead>
  <tbody>
  <% @playlist_data.each do |song| %>
    <tr>
      <td class="vote_count">
        <div><i data-song-id=<%= song[:song_id] %> data-vote-score=<%= song[:voter_score] === 1 ? 0 : 1 %> class="<%= song[:voter_score] === 1 ? 'triangle up icon submit_vote amplify_color' : 'triangle up icon submit_vote'%>"></i></div>
        <div><%= song[:vote_sum] %></div>
        <div><i data-song-id=<%= song[:song_id] %> data-vote-score=<%= song[:voter_score] === -1 ? 0 : -1 %> class="<%= song[:voter_score] === -1 ? 'triangle down icon submit_vote amplify_color' : 'triangle down icon submit_vote'%>"></i></div>
      </td>
      <td>
        <div><%= song[:title] %></div>
        <div class="artist"><%= song[:artist] %></div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="ui basic modal">
  <div class="header">Suggest a song</div>
  <div class="content">
    <div class="ui search"> <!--can do more with this once Spotify search is implemented-->
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search...">
        <i class="search icon amplify_color" style="line-height: 0.8"></i>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel inverted button">Cancel</div>
    <div class="ui ok inverted button">Submit</div>
  </div>
</div>

<script type="text/javascript">
  $('.submit_vote').click(function( event ){
    var score = event.target.getAttribute("data-vote-score");
    var song_id = event.target.getAttribute("data-song-id");
    Rails.ajax({
      type: "PUT",
      url: '/playlist/' + '<%= @room.id %>' + '/vote/' + song_id + '?vote=' + score,
      success: function() {
        location.reload();
      }
    });
  });

  $('.suggest_song').click(function(event) {
      $('.ui.basic.modal').modal('setting','scale').modal({blurring: true}).modal('show');
  });

  $('.ui.search')
      .search({
          apiSettings: {

          }
      });


</script>
